label live-
	menu label ^NATOS Session Live
	menu default
	linux /live/vmlinuz
	initrd /live/initrd.img
	append lang=fr_FR.UTF-8 locales=fr_FR.UTF-8 keyboard-layouts=fr splash timezone=Europe/Paris utc=yes keyboard-model=pc105 boot=live peristence components username=nat hostname=natos

label live-failsafe
	menu label NATOS Session Live (mode sans ^echec)
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live nopersistence noeject autologin splash username=nat components locales=fr_FR.UTF-8 keyboard-layouts=fr noapic noapm nodma nomce nosmp
